<!--<form action="/users" method="post" accept-charset="UTF-8">-->
  <!-- Add the authenticity token -->
<!--  <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->

  <!-- Username Field -->
<!--  <label for="user_username">Username:</label> <br>-->
<!--  <input type="text" name="user[username]" id="user_username" /> <br>-->

  <!-- Email Field -->
<!--  <label for="user_email">Email:</label> <br>-->
<!--  <input type="email" name="user[email]" id="user_email" /> <br>-->

  <!-- Password Field -->
<!--  <label for="user_password">Password:</label> <br>-->
<!--  <input type="password" name="user[password]" id="user_password" /> <br>-->

  <!-- Submit Button -->
<!--  <button type="submit">Create User</button> <br>-->
<!--</form>-->
<h1>New User creation</h1>
<%= render "form", user: @user %>


